
p{
	color:blueviolet;
	font-size: 14pt;
}
h1{
	color: rgb(245, 203, 179);
	text-align: center;
	font-size: 18pt;
}

h2{
	color: rgba(199, 28, 28, 0.719);
	text-align: center;
	font-size: 16pt;
}

body{
	background-image: url('https://i.pinimg.com/originals/93/c9/8b/93c98badebf9a953abae351407db0670.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #FFFFFF;
}

font{
	color: yellow;
}

.caja1
{
	background-color: rgba(0, 0, 0, .5);
	width:20em;
    height: auto;
    position: relative;
    margin: auto;
    padding: 2em;
	border-radius: 1em;
	color:black;


}
